.modal-body{
    background-color:#eaf5f5;
    width: 100%;
    height: 70vh;
    overflow-y:auto;

}

.modal-body > p {
    color: black;
}

.name-editor{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.text-editor{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

label {
    color: #085097;
}

button {
    background-color: #085097;
    color: #fff;
    border: none;
    border-radius: 5px;
}